ENV=stg

STG_POSTGRES__DATABASE=postgres
STG_POSTGRES__HOST=localhost
STG_POSTGRES__PASSWORD=postgres
STG_POSTGRES__PORT=5432
STG_POSTGRES__USERNAME=postgres

PROD_POSTGRES__DATABASE=
PROD_POSTGRES__HOST=
PROD_POSTGRES__PASSWORD=
PROD_POSTGRES__PORT=
PROD_POSTGRES__USERNAME=
