ENV=stg

STG_POSTGRES__DATABASE=postgres
STG_POSTGRES__HOST=localhost
STG_POSTGRES__PASSWORD=postgres
STG_POSTGRES__PORT=5432
STG_POSTGRES__USERNAME=postgres

STG_POSTGRES__CONFIG__POOL_SIZE=10
STG_POSTGRES__CONFIG__MAX_OVERFLOW=5
STG_POSTGRES__CONFIG__POOL_RECYCLE=300
STG_POSTGRES__CONFIG__POOL_TIMEOUT=30

STG_KAFKA__BROKERS=localhost:9092

PROD_POSTGRES__DATABASE=
PROD_POSTGRES__HOST=
PROD_POSTGRES__PASSWORD=
PROD_POSTGRES__PORT=
PROD_POSTGRES__USERNAME=
PROD_POSTGRES__POOL_SIZE=
PROD_POSTGRES__MAX_OVERFLOW=
PROD_POSTGRES__POOL_RECYCLE=
PROD_POSTGRES__POOL_TIMEOUT=

PROD_KAFKA__BROKERS=
